<a href="https://colab.research.google.com/github/dellavecchiaemiliano/Econometrics_for_finance/blob/main/EmilianoDellaVecchia_1816004_assignment1_(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Excercise 1**
For this exercise, write a Python function (call it stringManipulation) that takes a string as input, assumed to be an English word. You may assume that the word contains no capital letters or punctuation. The function should return the the manipulated string as follows:

If the word begins with a vowel (a, e, i, o, or u), add “way” to the end of the word. So “air” becomes “airway” and “eat” becomes “eatway.”
If the word begins with any other letter, then we take the first letter, put it on the end of the word, and then add “ay.” Thus, “python” becomes “ythonpay” and “computer” becomes “omputercay.”

In [ ]:
vowels = ("a","e","i","o","u") #I'm defining tuple of vowels
word = input("Choose a word (please do not insert capital letter or punctuation):") #I'm assuming that the word contains no capital letter or punctuation 
def stringManipulation():
    if word[0] in vowels:
     print(word + "way")
    else:
     print(word.replace(word[0],'') + word[0] + "ay")
    
stringManipulation()

Choose a word (please do not insert capital letter or punctuation):mario
ariomay

# **Excercise 2**
In this exercise you will simulate 1,000 rolls of two dice.

Begin by writing a function
that simulates rolling a pair of six-sided dice and call it `twoDice()`. Your function will not take any
parameters. It will return the total that was rolled on two dice as its only result.

Then use the function above inside another function (call it `diceFrequency`) which uses your `twoDice` function to simulate rolling two six-sided
dice 1,000 times. As your program runs, it should count the number of times that
each total occurs. Then it should display a table that summarizes this data expressed as a dictionary:

*   The dictionary key will be each of the possible outcome of rolling two dice (2,3,4,...,12)
*   The dictionary value for each key instead shows the frequency for each combination as a percentage of the number of rolls performed.

In [ ]:
import pandas as pd
pd.set_option('precision', 2)
import random

def twoDice():    #I'm creating this function to obtain a random result of rolling two dice.
    d1 = random.randint(1, 6) 
    d2 = random.randint(1, 6)
    return d1 + d2

count = {2:0,3:0,4:0,5:0,6:0,7:0,8:0,9:0,10:0,11:0,12:0}   #I'm initializing count dictionary putting the value equal to 0

def dicefrequency():  #I'm creating this function composed by 2 loop to sum 1000 results of the same experiment to obtain the frequency.    
    for i in range(1000):
      count[twoDice()] += 1
         
    for key,value in (count.items()):
        count[key]= int(value)/1000*100       

dicefrequency()
df = pd.DataFrame.from_dict(count.items()) #I'm using pandas library to visualize the result in a dataframe 
df.columns = ["Dice roll","Count"]
df = df.style.hide_index()
df

# **Excercise 3**
Part 1
The aim of this exercise is to create a new class called `Account`.
1. Define a new class to represent a type of bank account.
2. When the class is instantiated you should provide:
    * the account number, 
    * the name of the account holder,
    * an opening balance and
    *  the type of account (which can be
a string representing 'current', 'deposit' or 'investment' etc.). 
  
  This means that
there must be an `__init__` method and you will need to store the data within
the object.
3. Provide three **methods** for the `Account`; `deposit(amount)`,
`withdraw(amount)` and `get_balance()`. The behaviour of these
methods should be as expected, `deposit` will increase the balance, `withdraw` will
decrease the balance and `get_balance()` returns the current balance.
4. Define a simple test application to verify the behaviour of your `Account` class.
It can be helpful to see how your class `Account` is expected to be used. For this
reason a simple test application for the `Account` is given below:

```
acc1 = Account('123', 'John', 10.05, 'current')
acc2 = Account('345', 'John', 23.55, 'savings')
acc3 = Account('567', 'Phoebe', 12.45, 'investment')
print(acc1)
print(acc2)
print(acc3)
acc1.deposit(23.45)
acc1.withdraw(12.33)
print('balance:', acc1.get_balance())
```
The following output illustrates what the result of running this test application might look like:
```
Account[123] - John, current account = 10.05
Account[345] - John, savings account = 23.55
Account[567] - Phoebe, investment account = 12.45
balance: 21.17
```

The output format (i.e. the object print result) does not need to be exactly as the output above. You just need to make sure all the information (name, account number, holder name, type and balance) is reported in the print statement in a readable way.

#### Part 2 (optional)
The aim of this part is to extend the `Account` class you have been developing
from the last two chapters by providing a
`CurrentAccount` **subclass**.
The `CurrentAccount` subclass should extend the Account class by:
* adding an overdraft limit
* redefining the `withdraw()`
method which shoud verify that the balance
never goes below the overdraft limit. If it does then the `withdraw()` method
should not reduce the balance instead it should print out a warning message

In [ ]:
class Account:
    def __init__(self, id_num, name, type_acc, balance):   #I'm initializing my class and I'm defining all the istances
        self.id_num = id_num
        self.name = name
        self.type_acc = type_acc 
        self.balance = balance

    def __str__(self):  #I'm adding this method to print the result
        return f" {self.id_num} - {self.name}, {self.type_acc} account = {self.balance} "

    def deposit(self, amount):   #I'm adding this method to allow deposits on the account
        self.balance += amount
        return(self.balance)

    def withdraw(self, amount):    #I'm adding this method to allow withdraws by the account
        self.balance -= amount
        return self.balance

    def get_balance(self):       #I'm adding this method to check the account balance
        return(self.balance)  


acc1 = Account("123", "Emiliano", "current", 100)        
acc2 = Account("456", "Stefano", "investment", 200)
acc3 = Account("789", "Mario", "savings", 300)
print(acc1)
print(acc2)
print(acc3)
acc1.deposit(20)
acc1.withdraw(30)
print("balance:", acc1.get_balance())

 123 - Emiliano, current account = 100
 456 - Stefano, investment account = 200
 789 - Mario, savings account = 300
balance: 90